<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Registration form</title>
	<link href="static/favicon_py.ico" rel="icon">
</head>
<body>
	<form method="POST">
<!-- 	First Name: <input type="text" name= "firstname"><br>
	Email: <input name ="email" class = "form-control" type= "email"><br> -->
  Thank you for submitting!
	<input class = "form-control" type="submit" value="Regístrame">
	<input type= "reset">
</body>
</html>